{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-8">
    <div class="d-flex flex-row my-2 p-2" href="{% url 'blog-detail' blog.id %}">
        <div class="d-flex flex-column align-items-center justify-content-center me-2">
            <img class="profile-picture" src="{{ object.author.profile.image.url }}" alt="" >
        </div>
        <div class="fs-6 lh-sm ">
            <span class="fs-5 text-muted">{{object.author}} - {{object.date}}</span>
            <p class="m-0 fs-4">{{object.content}}</p>
        </div>
    </div>
    {% if object.author == user %}
        <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
    {% endif %}
</div>
{% endblock content %}

