{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-8">
    <div class="d-flex flex-row my-2 p-2" href="{% url 'blog-detail' object.id %}">
        <div class="d-flex flex-column align-items-center justify-content-center me-2">
            <img class="profile-picture" src="{{ object.author.profile.image.url }}" alt="" >
        </div>
        <div class="fs-6 lh-sm ">
            <span class="fs-5 text-muted"><a href="{% url 'user-blogs' object.author.username %}">{{object.author}}</a> - {{object.date}}</span>
            <p class="m-0 fs-4">{{object.content}}</p>
        </div>
    </div>
    {% if object.author == user %}
        <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
    {% endif %}
    <div class="mt-3 mb-2 border-top border-bottom py-2">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <label class="form-label" for="id_content">Reply to {{object.author.username}}</label>
                <input type="text" class="text-input form-control" type="text" maxlength="200" id="id_content" name="content" placeholder="Type reply here">
            </fieldset>
            <div class="mt-3">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        {% for response in responses %}
            {% include "blog/blog_list.html" with blog=response %}
        {% endfor %}
    </div>
</div>

{% endblock content %}

