{% extends "blog/base.html" %}
{% block content %}
    <h1>Blog!</h1>
    <br>
        <div class="col-md-6">
            {% for blog in blogs %}
                <div class="card">
                    <img src="{{ blog.author.profile.image.url }}" alt="" >
                    <div class="card-body">
                        <code>{{blog.content}}</code>
                        <p>{{blog.author}} - {{blog.date}}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
{% endblock content %}
