{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Sign up!</legend>
                {{ form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small class="text-muted">
                Have an account? <a class="ml-2" href="{% url 'login' %}">Sign in!</a>
            </small>
        </div>
    </div>
    <script>
        document.getElementById("signup").classList.add("active")
    </script>
{% endblock content %}
